body
{
  background-color: #323743;
}

.navbar-brand
{
  font-family: 'Raleway', sans-serif;
}

.navbar
{
  font-family: 'Nunito', sans-serif;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}


.links
{
  display: flex;
  flex-direction: row;
}

.links svg
{
  margin-left: 10px;
  color: white;
  text-decoration: none;
}
