html
{
    scroll-behavior: smooth;
}

body
{
  background-color: #323743;
  position: relative;
}

.navbar-brand
{
    font-family: 'Source Code Pro', monospace;
}

h1
{
    font-family: 'Nunito', sans-serif;
    color: white;
}

.navbar
{
  font-family: 'Nunito', sans-serif;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
  background-color: transparent;
}


.page
{
height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
text-transform: uppercase;
}

.links
{
  display: flex;
  flex-direction: row;
}

.links svg
{
  margin-left: 10px;
  color: white;
  text-decoration: none;
}
